
*{
    margin: 0px;
    padding: 0px;
}
body{ 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{background-color: rgba(8, 7, 7, 0.393);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
   width: 1000px;

}
p{text-align: center;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
  width: 50%;
}
pre{
    color: #fff;
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;

}

.logo {
    color: aliceblue;
    font-size: 25px;
    font-weight: 300;

}
img{
    border-radius: 50% 50%;
    height: 100PX;
    width: 100PX;
    
}
div ul li {
   
     display:inline-block ;
    color: #fff;
   margin: 20px;

}
main{
     background:linear-gradient(rgb(46, 152, 197) ,rgb(88, 209, 177));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: 600PX;
    width: 1000px;
    line-height: 20px;
}
    
a{ 
    text-decoration: none;
    color: #fff;
}
.div1 {
   
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    background-color: transparent;
    border: none;
    color: #fff;
}
button {
    background-color: hotpink;
    border:  none ;
    width: 80px;
    height: 25px;
    color: #fff;
}
