*{
    margin: 0px;
    padding: 0px;
}


header{background-color: rgba(8, 7, 7, 0.393);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
   

}
p{text-align: center;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   width: 55%;
  

}


.logo {
    color: aliceblue;
    font-size: 25px;
    font-weight: 300;

}
img{
    border-radius: 50% 50%;
    height: 100PX;
    width: 100PX;
    
}
div ul li {display: inline-block; 
    margin: 0 6px;
    color: #fff;

}
main{
     background:linear-gradient(rgb(46, 152, 197) ,rgb(88, 209, 177));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}