header{background-color: rgba(8, 7, 7, 0.393);}
p{text-align: center;}
body{background:linear-gradient(rgb(46, 152, 197) ,rgb(88, 209, 177));
width: 49%;
align-items: center;
border-style:;
border-radius: 70;
}
